@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
p {
  padding: 0;
  margin: 0;
}
:root {
  --mail: #fff3f0;
  --btn1: #f39685;
}
.header {
  height: 70px;
  width: 100%;
  border-bottom: 1px solid rgba(185, 185, 185, 0.494);
  padding: 0 10%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: white;
}

.header .logo-item {
  height: 40px;
  width: 40px;
  border-radius: 10px;
  overflow: hidden;
}
.header .logo-item img {
  height: 100%;
  width: 100%;
}
.menu-items {
  display: flex;
  height: 100%;
  align-items: center;
}
.menu-items .items {
  display: flex;
  align-items: center;
  list-style: none;
  height: 100%;
}
.menu-items .items li {
  margin-right: 40px;
  font-size: 14px;
}
.menu-items .items li a {
  font-weight: 200;
  color: #202020;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}

.menu-items .account-items {
  display: flex;
  align-items: center;
  height: 100%;
}
.menu-items .account-items {
  list-style: none;
}

.menu-items .account-items a img {
  width: 20px;
}

.menu-items .account-items li {
  margin-left: 30px;
}
.menu-items .account-items li a {
  font-weight: 200;
  color: #202020;
  display: flex;
  align-items: center;
  height: auto;
}
.menu-items .account-items li a p {
  margin-left: 6px;
}

.landing-page {
  width: 100%;
  position: relative;
  /* background-image: linear-gradient(45deg, #1b2c30 0%, #000000 100%); */
  height: 100vh;
}
.carousel-item {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.landing-page .carousel-item img {
  position: absolute;
  right: 100px;
  top: 65%;
  transform: translateY(-65%);
}

.owl-carouse div {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-items {
  height: 100vh;
  width: 100%;
  position: relative;
}

.landing-items img {
  position: absolute;
  bottom: 0;
  right: 100px;
}
.landing-items h1 {
  color: white;
  width: 40%;
  font-size: 50px;
  padding-top: 300px;
  margin-left: 100px;
}
.landing-items p {
  color: rgba(255, 255, 255, 0.588);
  width: 35%;
  font-size: 16px;
  margin-left: 100px;
  font-weight: 200;
  margin-top: 40px;
}

.btn-1 {
  width: 150px;
  height: 40px;
  color: white;
  border: none;
  outline: none;
  background-color: var(--btn1);
  border-radius: 4px;
  margin-left: 100px;
  margin-top: 100px;
}

.catagories {
  height: 200px;
  width: 100%;
  background-color: white;
  position: absolute;
  left: 0;
  top: 70px;
  display: none;
  border-bottom: 1px solid rgb(231, 231, 231);
}
.catagories.active {
  display: flex;
}
#catatories {
  border: none;
  outline: none;
  background-color: white;
  font-weight: 200;
  color: #202020;
  display: flex;
  align-items: center;
  height: auto;
}
.catagories {
  justify-content: space-between;
  padding: 0 100px;
  box-sizing: border-box;
  align-items: center;
}
.c-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.c-item img {
  height: 80px;
}
.c-item p {
  font-size: 16px;
  font-weight: 200;
  margin-top: 10px;
}

.sample-stores {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  padding: 0 100px;
  box-sizing: border-box;
}

.sample-stores h1 {
  font-size: 30px;
}
.sample-stores p {
  font-size: 16px;
}

.store-tab {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.store-tab .item {
  height: 350px;
  width: 230px;
  overflow: hidden;
  position: relative;
  background-color: white;
  cursor: pointer;
}
.store-tab img {
  max-height: calc(100% - 50px);
  max-width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
}

.store-tab .item .add-card {
  height: 40px;
  width: 80%;
  position: absolute;
  background-color: white;
  border: 1px solid black;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: 200;
  opacity: 0;
  transition: 0.2s all;
}

.store-tab .hidden-bg {
  position: absolute;
  height: calc(100% - 50px);
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  transition: 0.2s all;
}
.store-tab .item:hover .hidden-bg {
  background-color: rgba(255, 255, 255, 0.452);
}

.store-tab .quick-view {
  height: 40px;
  width: 100%;
  background-color: black;
  border: none;
  outline: none;
  color: white;
  font-weight: 200;
  font-size: 14px;
  bottom: -40px;
  position: absolute;
  left: 0;
  transition: 0.2s;
}
.store-tab .item:hover .quick-view {
  bottom: 0;
}
.store-tab .item:hover .add-card {
  opacity: 1;
}

.down-helo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.down-helo .cat {
  font-size: 16px;
  font-weight: bold;
  color: #2d2d2d;
}
.down-helo .downer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-weight: 400;
  color: #a4a4a4;
}

.show-all {
  height: 40px;
  width: 140px;
  margin-top: 60px;
  background-color: var(--btn1);
  color: white;
  border: none;
  border-radius: 3px;
}
.login-box {
  width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid rgb(227, 227, 227);
}

.input1 {
  width: 100%;
  height: 35px;
  border: 1px solid gray;
  outline: none;
  background-color: white;
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 30px;
}
.input1-level {
  font-size: 16px;
  font-weight: 200;
  color: #636363;
  margin-bottom: 10px;
}
.login-box h3 {
  margin: auto;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
  color: #202020;
  margin-bottom: 20px;
}

.login-box .btn-1 {
  width: 100%;
  margin: unset;
  margin-top: 0px;
  margin-bottom: 20px;
}

.login-box a {
  font-weight: 200;
  color: #464646;
  font-size: 14px;
}

.registration .input1 {
  margin-bottom: 15px;
}
.registration .input1-level {
  margin-bottom: 6px;
  font-size: 14px;
}

.side-nav {
  background-color: var(--btn1);
  height: 100vh;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
}

.side-nav .menu-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}
.side-nav .menu-items a {
  height: 40px;
  width: 100%;
  margin-bottom: 20px;
  border: none;
  outline: none;
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  font-size: 16px;
  font-weight: 200;
  align-items: center;
  transition: 0.2s all;
  border-radius: 6px;
  color: white;

}
.side-nav .menu-items a p{
  margin-left: 20px;
  
}
.side-nav .menu-items a:hover{
  background-color: rgb(255, 255, 255);
  color: black;
}


.side-nav .logo-sec {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}
.side-nav .logo-sec img {
  height: 40px;
  width: 40px;
  border-radius: 10px;
}
.side-nav .logo-sec p {
  font-weight: bolder;
  color: white;
  margin-left: 10px;
  font-size: 20px;
}

.head-nav {
  height: 60px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  left: 0;
  border: 1px solid rgb(202, 202, 202);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
}
.head-nav img{
  height: 30px;
  margin-right: 20px;
}
.head-nav p{
  margin-right: 20px;
  font-weight: 200;
  color: rgb(56, 56, 56);
  font-size: 12px;
}

.admin-dash{
  width: calc(100% - 250px);
  float: right;
  margin-top: 60px;
  padding: 20px;
  box-sizing: border-box;
}
.admin-dash .title{
  font-size: 20px;
}
.create-catagory{
  width: 400px;
}
.create-catagory .create-button{
  margin: 0;
  margin-top: 20px;
}
.create-catagory .input1{
  margin-top: 10px;
}

.admin-dash .table{
  width: 100%;
  margin-top: 40px;
}
.admin-dash .table tr td img{
  max-height: 60px;
}

.admin-dash .table .trx p{
  display: flex;
  height: 100%;
  align-items: center;
  margin: auto;
}
.admin-dash .table .trx .btn-1{
  margin: 0;
  font-size: 10px;
  height: 25px;
  width: 50px;
}